<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="#">Whoizit?</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        <li><a href="@Url.Action("Game", "Home")">Game</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; Whoisit Games 2012</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>
